img{
	width:400px;
	height:266px;
      }
div.title{
	text-align:center;
	width:800px;
}
span{
	width:400px;
	position:absolute;
	left:31%;
	top:370px;
}

div.information{
	width:800;
}
div.p{
	margin:0px auto;
}
div.link{
	width:400px;
  	position:absolute;
	left:30%;
	bottom:0px;
	font-size:30px;
	font-family:'Microsoft JhengHei';
	text-align:center;
	line-height:60px;

}
a{
	text-decoration:none;
	color:black;
}
