img{
	width:400px;
	height:266px;
      }
ul{
	position:absolute;
	left:40%;
	bottom:10%;

}
span{
	width:400px;
	position:absolute;
	left:31%;
	top:370px;
}

div.information{
	width:800;
}
div.p{
	margin:0px auto;
}
