#link{
	font-size:40px;
	font-family:sans-serif;
	position:fixed;
	bottom:6%;
	left:37%;
	color:black;
	font-weight:bold;
}
a{
text-decoration:none;
}
#h{
	position:fixed;
	top:35%;
	left:35.5%;
	font-size:75px;
	color:white;
	font-weight:bold;

}
body{
	background-image:url('https://i.imgur.com/wfouOA2.jpg');
	background-repeat:no-repeat;
	background-position:center;

}
p{
	font-size:20px;
	font-family:sans-serif;
	color:#2B2B2B;
	position:fixed;
	top:44%;
	left:49%;
	display:none;

}
