p{
font-style:italic;
font-size:20px;

}
img{
width:80%;
height:100%;
      }
p{
position:absolute;
left:10%;
top:0px;
}
a{
position:fixed;
bottom:50%;
right:37%;
font-size:52px;
font-family:'Lucida Handwriting';
color:#2B2B2B;
text-decoration:none;
}

